@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
*,
*::before {
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: #2C2F36;
  color: #fff;
}

.scene {
  width: 700px;
  height: 500px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D2B49), color-stop(#1A45A0), color-stop(#91cdff), to(#fff));
  background-image: linear-gradient(#1D2B49, #1A45A0, #91cdff, #fff);
  background-size: 100% 300%;
  overflow: hidden;
}

.build {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

[class^="house"] {
  position: absolute;
  bottom: 0;
  right: 0;
}

.house1 {
  width: 180px;
  height: 200px;
  border-radius: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #805300;
  box-shadow: inset -50px 0 #D18800;
  z-index: 1;
}
.house1 .window {
  width: 40px;
  height: 100px;
  border-radius: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: #D18800;
  box-shadow: inset 8px 5px #FFA600;
}
.house1 .window .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 4px;
  margin-left: 10px;
  background-color: #534d4d;
}

.house2 {
  width: 240px;
  height: 170px;
  border-radius: 0;
  right: 130px;
  background-color: #805300;
  box-shadow: inset 0 15px #FFC559, inset -72px 0 #D18800;
  z-index: 2;
}
.house2 .door {
  width: 40px;
  height: 80px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: 45px;
  background-color: #2C2F36;
  box-shadow: inset 10px 2px #FFA600;
}

.house3 {
  width: 320px;
  height: 300px;
  border-radius: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 0;
}
.house3 .wall {
  -webkit-box-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
}
.house3 .wall .window {
  width: 24px;
  height: 50px;
  border-radius: 12px 12px 0 0;
  margin-top: 30px;
  background-color: #2C2F36;
}
.house3 .wall:nth-child(1) {
  -webkit-box-flex: 10;
          flex: 10;
  background-color: #805300;
}
.house3 .wall:nth-child(1)::after {
  content: "";
  display: block;
  width: 105%;
  height: 20px;
  border-radius: 0;
  position: absolute;
  top: -20px;
  background-color: inherit;
  z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.house3 .wall:nth-child(1) .window {
  box-shadow: inset 8px 2px #FFC559;
}
.house3 .wall:nth-child(2) {
  -webkit-box-flex: 14;
          flex: 14;
  background-color: #D18800;
}
.house3 .wall:nth-child(2)::after {
  content: "";
  display: block;
  width: 105%;
  height: 20px;
  border-radius: 0;
  position: absolute;
  top: -20px;
  background-color: inherit;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.house3 .wall:nth-child(2) .window {
  box-shadow: inset 0 2px #FFC559;
}
.house3 .wall:nth-child(3) {
  -webkit-box-flex: 10;
          flex: 10;
  background-color: #FFA600;
}
.house3 .wall:nth-child(3)::after {
  content: "";
  display: block;
  width: 105%;
  height: 20px;
  border-radius: 0;
  position: absolute;
  top: -20px;
  background-color: inherit;
  z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.house3 .wall:nth-child(3) .window {
  box-shadow: inset -8px 2px #FFC559;
}
.house3 .roof {
  width: 300px;
  height: 150px;
  border-radius: 150px 150px 0 0;
  position: absolute;
  top: -170px;
  background-image: linear-gradient(150deg, #FF4500, #FF4500);
}